.location-search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.location-search-bar input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.location-search-bar button {
  padding: 10px;
  background-color: #3c8ab8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
